<ion-content>
  <section id="homeBannertour" class="section section--borderless">
    <div class="wck-homepagelog">
  <div class="home">
    <div class="bannerdokumen">
  
   
         
          <div class="desc-wrapper">
        
            <div class="hero_title_text">
              <div class="hero_title_text_top" style="width: 775px;">Dokumen 
                <span class="txt-rotate" data-period="2000" data-rotate="[ &quot;Visa...&quot;, &quot;Passport&quot; ]">
                <span class="sliding-text"> </span>
                </span>

              </div>
          </div>
        </div>
        <div class="cbBgPattern"></div>
   
  </div>
  </div>
  <div class="container">
    <div class="col-md-12">
      <div class="theme-bb">
        <h2>VISA REQUIREMENT</h2>
          <!--collaps-->
                                   
          <!--<div *ngFor="let doc of doc;" [routerLink]="[doc.slug]" class="col-xs-4 card box-shadow">
            <div class="product-card">
             
            </div>  
            <div class="card-header">
              <h4 class="my-0 font-weight-bold">{{ doc.title }}</h4>
           
            </div>
            <div class="card-body d-flex flex-column">
            
              <div class="card-body d-flex flex-column card-text">
              
                <div class="footer"></div>
              
              </div>
              
            </div>
          </div>-->

          <!--<div *ngFor="let dokumen of dokumen;" class="content">
            <div class="linked-list level-2">
                <ol>
               {{ dokumen.title }}
                  
                </ol>

            
            </div>
        </div>-->
          <div class="">
            <div class="accordion" id="accordionExample">
            <div class="card">
              <div class="card-head" id="headingOne">
                <h3 class="collapsed" data-toggle="collapse" data-target="#1" aria-expanded="true" class="" aria-controls="collapse1">UK & Europe </h3>
              </div>
          
              <div id="1" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample" class="collapse show">
                <div class="card-body">
                    <div class="c-1r1ps0e" id="1424">
                        <div id="product-details">
                          <div class="content">
                              <div class="left-section">
                                  <div class="collapsible level-2 open">
                                      <!--<div class="kuning-bayu"></div>-->
                                     
                                      <div class="content">
                                          <div class="linked-list level-2">
                                            <div class="row">
                                              
                                              <div *ngFor="let dokumen of dokumen;" class="col-md-3 ">
                                                <div class="c-ahj8kj" [routerLink]="[dokumen.slug]">
                                                  <img class="" alt="Capital O 166 Hotel Princess" src="{{dokumen.thumbs}}" class="c-2tglnv hotelCardSuggestion__image" placeholdertype="hotel" lazyload="true">
                                                  <div class="priceinfo">
                                                      <div class="fromprice"><span class="prcr">{{dokumen.title}}</span></div>
                                                 
                                                  </div>
                                              </div>
                                              </div>
                                             
                                               
                                            </div>
          
                                          
                                          </div>
                                      </div>
                                  </div>
          
                              </div>
                          </div>
                        </div>
                    </div>
                </div>
              </div>
            </div>

            <div class="card">
              <div class="card-head" id="headingOne">
                <h3 class="collapsed" data-toggle="collapse" data-target="#2" aria-expanded="true" aria-controls="collapse2">Australia </h3>
              </div>
              <div id="2" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                <div class="card-body">
                    <div class="c-1r1ps0e" id="1424">
                        <div id="product-details">
                          <div class="content">
                            <div class="linked-list level-2">
                              <div class="row">
                                <div *ngFor="let au of audokumen;" class="col-md-3 ">
                                  <div class="c-ahj8kj" [routerLink]="[au.slug]">
                                    <img class="" alt="Capital O 166 Hotel Princess" src="{{au.thumbs}}" class="c-2tglnv hotelCardSuggestion__image" placeholdertype="hotel" lazyload="true">
                                    <div class="priceinfo">
                                        <div class="fromprice"><span class="prcr">{{au.title}}</span></div>
                                   </div>
                                </div>
                                </div>
                              </div>
                            </div>
                        </div>
                        </div>
                    </div>
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-head" id="headingOne">
                <h3 class="collapsed" data-toggle="collapse" data-target="#3" aria-expanded="true" aria-controls="collapse2">Amerika & Afrika </h3>
              </div>
              <div id="3" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                <div class="card-body">
                    <div class="c-1r1ps0e" id="1424">
                        <div id="product-details">
                          <div class="content">
                            <div class="linked-list level-2">
                              <div class="row">
                                <div *ngFor="let usa of usadokumen;" class="col-md-3 ">
                                  <div class="c-ahj8kj" [routerLink]="[usa.slug]">
                                    <img class="" alt="Capital O 166 Hotel Princess" src="{{usa.thumbs}}" class="c-2tglnv hotelCardSuggestion__image" placeholdertype="hotel" lazyload="true">
                                    <div class="priceinfo">
                                        <div class="fromprice"><span class="prcr">{{usa.title}}</span></div>
                                   </div>
                                </div>
                                </div>
                              </div>
                            </div>
                        </div>
                        </div>
                    </div>
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-head" id="headingOne">
                <h3 class="collapsed" data-toggle="collapse" data-target="#4" aria-expanded="true" aria-controls="collapse2">Asia </h3>
              </div>
              <div id="4" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                <div class="card-body">
                    <div class="c-1r1ps0e" id="1424">
                        <div id="product-details">
                          <div class="content">
                            <div class="linked-list level-2">
                              <div class="row">
                                <div *ngFor="let asia of asiadokumen;" class="col-md-3 ">
                                  <div class="c-ahj8kj" [routerLink]="[asia.slug]">
                                    <img class="" alt="Capital O 166 Hotel Princess" src="{{asia.thumbs}}" class="c-2tglnv hotelCardSuggestion__image" placeholdertype="hotel" lazyload="true">
                                    <div class="priceinfo">
                                        <div class="fromprice"><span class="prcr">{{asia.title}}</span></div>
                                   </div>
                                </div>
                                </div>
                              </div>
                            </div>
                        </div>
                        </div>
                    </div>
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-head" id="headingOne">
                <h3 class="collapsed" data-toggle="collapse" data-target="#5" aria-expanded="true" aria-controls="collapse2">Middle East </h3>
              </div>
              <div id="5" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                <div class="card-body">
                    <div class="c-1r1ps0e" id="1424">
                        <div id="product-details">
                          <div class="content">
                            <div class="linked-list level-2">
                              <div class="row">
                                <div *ngFor="let midasia of midasiadokumen;" class="col-md-3 ">
                                  <div class="c-ahj8kj" [routerLink]="[midasia.slug]">
                                    <img class="" alt="Capital O 166 Hotel Princess" src="{{midasia.thumbs}}" class="c-2tglnv hotelCardSuggestion__image" placeholdertype="hotel" lazyload="true">
                                    <div class="priceinfo">
                                        <div class="fromprice"><span class="prcr">{{midasia.title}}</span></div>
                                   </div>
                                </div>
                                </div>
                              </div>
                            </div>
                        </div>
                        </div>
                    </div>
                </div>
              </div>
            </div>
            
           
          </div>
          </div>

  </div>
</div>
</div>
</div>
  </section>
  <div [innerHTML]="footer"></div>
</ion-content>




