<ion-content>
  <section id="homeBannertour" class="section section--borderless">
    <div class="wck-homepagelog">
  <div class="home">
    <div class="bannerspecials">
      <div class="slick-slider">
        <div class="slick-slide">
          <div class="cbBgPattern">
          <div class="desc-wrapper">
        
        </div>
      </div>
     
    </div>
    </div>
  </div>
  </div>
  <div class="container">
    <div class="col-md-12">
      <div class="theme-bb">

       
  <div class="LoginModal__content">
  
    <div class="LoginModal__content--vertical-adjustment">
        <div class="LoginModal__content--horizontal-adjustment LoginModal__content--relative">
            <div class="LoginPopUp-container">
                <div class="LoginPopUp-content LoginPopUp-content--afterOpen">
                    <div class="SignUpPanel" data-selenium="signup-panel">
                        <div class="LeftPanel">
                          <div class="SignInContainer">
                            <div class="SignInContainer__Header" data-selenium="signin-panel-header">
                                <h3 class="SignInContainer__Title" data-selenium="signin-header-text"></h3>
                            </div>
                            <div id="signin-panel-body" class="SignInContainer__Body" data-selenium="signin-panel-body">
                                <div class="SignInContainer__InfoSection"></div>
                                <div class="SignInContainer__FormSection">
                                    <div>
                                      <!--<ion-list>

                                        <ion-item>
                                          <ion-label position="floating">Username</ion-label>
                                          <ion-input [(ngModel)]="username"></ion-input>
                                        </ion-item>
                                      
                                        <ion-item>
                                          <ion-label position="floating">Password</ion-label>
                                          <ion-input type="password" [(ngModel)]="password"></ion-input>
                                        </ion-item>
                                      
                                      </ion-list>-->
                                    
                                     <!-- <div padding>
                                        <ion-button expand="block" shape="round" (click)="proseslogin()" >Sign In</ion-button>
                                    
                                      </div>-->
                                       <div class="swipe-container">
                                            <div class="swipe-switcher-contents" data-tab="0">
                                                <div class="swipe-switcher-content">
                                                    <div class="EmailSignInPanel">
                                                        <div class="login-input-container"><label class="login-input-title" data-selenium="signin-email-label">Email</label>
                                                            <div class="login-input-box"><i class="ficon ficon-24 textinput-icon far fa-envelope"></i><input [(ngModel)]="email" name="email" id="signin-email-input" class="form-control iconable-textinput " type="text" data-selenium="signin-email-input" autocomplete="email" data-pii="true" value=""></div>
                                                        </div>
                                                        <div class="login-input-container"><label class="login-input-title" data-selenium="signin-password-label">Password</label>
                                                            <div class="login-input-box"><i class="ficon ficon-24 textinput-icon fas fa-key"></i><input [(ngModel)]="password" name="password" id="signin-password-input" class="form-control iconable-textinput " type="password" data-selenium="signin-password-input" autocomplete="password" data-pii="true" value=""></div>
                                                        </div>
                                                        <div class="EmailSignInPanel__ForgotPasswordContainer"><a id="signin-forgot-password-container" (click)="showModal()" class="EmailSignInPanel__ForgotPasswordLink" data-element-name="forgot-password-link" data-selenium="signin-forgot-password-container">Forgot your password?</a></div>
                                                        <ion-button (click)="proseslogin()"  type="submit" class="ion-margin-top" expand="block">Sign in</ion-button>
                                                        <div class="term-and-privacy" data-selenium="terms-and-privacy">By signing in, I agree to Bayubuana's <a id="terms-link" href="/info/termsofuse.html?cid=1844104&amp;amp;migration=2&amp;amp;option=reset-password&amp;amp;pid=direct&amp;amp;c=hotel_page_footer&amp;amp;af_siteid=1716632&amp;amp;site_id=1716632&amp;amp;af_sub1=desktop&amp;amp;ckuid=1a24e646-a38b-48b8-96fa-9a6e6601d0b9"
                                                                target="_blank">Terms of Use</a> and <a id="privacy-link" href="/info/privacy.html?cid=1844104&amp;amp;migration=2&amp;amp;option=reset-password&amp;amp;pid=direct&amp;amp;c=hotel_page_footer&amp;amp;af_siteid=1716632&amp;amp;site_id=1716632&amp;amp;af_sub1=desktop&amp;amp;ckuid=1a24e646-a38b-48b8-96fa-9a6e6601d0b9"
                                                                target="_blank">Privacy Policy</a>.</div>
                                                    </div>
                                                </div>
                                      
                                            </div>
                                        </div>
                                    </div>
                                </div>
                               
                            </div>
                            <div class="SignInContainer__Footer" data-selenium="signin-panel-footer">
                                <div class="row">
                                    <div class="l-col-6">
                                        <div class="SignInContainer__SignUpText"><span>No account yet? </span></div>
                                    </div>
                                    <div class="l-col-6"><button (click)="formRegister()" routerDirection="root" id="signup-action" class="c-btn c-btn--outline-primary SignInContainer__SignUpButton" data-selenium="signup-action" data-element-name="signin-panel-signup-button" type="button">Create account</button></div>
                                </div>
                            </div>
                        </div>
                </div>
                <div class="RightPanel RightPanel--signup">
                    <div id="LoginBenefit-container" class="LoginBenefit LoginBenefit--signup">
                        <div class="LoginBenefit__image-container"><img alt="" src="https://cdn6.agoda.net/images/desktop/login/illustration-deals-social.svg" class="LoginBenefit__image"></div>
                        <div class="LoginBenefit__text" data-selenium="login-signup-section-text"><span>Up to </span><span class="LoginBenefit__text--highlight">30%</span><span> OFF with Bayubuana Insider Deals!</span> Prices drop the moment you sign up.</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="LoginModal__closeButton LoginModal__closeButton--onTop" data-element-name="LoginModal-closeButton" data-selenium="signup-close-icon"><span class="ficon ficon-20 ficon-x-icon ficon-line-close"></span></div>
</div>
</div>
</div>
  </div>
</div>
</div>
</div>
  </section>
  <div [innerHTML]="footer"></div>
</ion-content>




